<a href="https://colab.research.google.com/github/ortegamarinavitancol/OOP-58003/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

##Python Indentation

In [3]:
if 6>7:
  print("6 is greater than 4")
else:
  print("6 is less than a number")

6 is less than a number

##Python Comments

In [5]:
print("Hello World") #this is a comment

Hello World

##Python Variables

In [9]:
a = 1
b,c=0,2
c,d,e=2,3,4

name="Ana"

print(e)
print(d)
print(name)

4
3
Ana

##Casting

In [10]:
a=int(1)

print(a)

1

##Type() Function

In [16]:
a=int(2)
b=float(4.50)

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

##Double Quotes and Single Quotes

In [14]:
name='John'

print(name)

John

##Case Sensitive

In [19]:
print(a)
A = "I"

print(A)

2
I

##Multiple Variables with Single Value

In [23]:
f=g=h="Tony"

print(f)
print(g)
print(h)
print(f,g,h)

Tony
Tony
Tony
Tony Tony Tony

##Output Variables

In [26]:
print("Welcome to Python Programming")
x="Welcome to "
y="Python Programming"
print(x+y)

Welcome to Python Programming
Welcome to Python Programming

##Arithmetic Operations

In [43]:
print(1+1)
print(1-1)
print(1*1)
print(1/1)
print(int(1/1))
print(3//2)
print(3**2)

2
0
1
1.0
1
1
9

##Assignment Operator

In [36]:
p=5

p%=2 #Same as p = p%2
print(p)

1

##Comparison Operator

In [37]:
s = 11
t = 12

s>t

False

##Logical Operators

In [39]:
print(s>t and t >s)
print(s>t or t >s)

False
True