<a href="https://colab.research.google.com/github/ortegamarinavitancol/OOP-58003/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [4]:
a=10

print(10>9)
print(10==9)
print(10<9)

print(a>9)

True
False
False
True

bool()Function

In [7]:
print(bool(1))
print(bool("Marina"))
print(bool("Adamson"))

print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

Functions can Return a Boolean

In [14]:
def myFunction():
  return True

print(myFunction())

True

In [15]:
if myFunction():
  print("True")
else:
  print("False")

True

Application 1

In [17]:
a=6
b=7

print(a==b)
print(a!=a)

False
False

Python Operators

In [21]:
print(10+5)
print(10-5)
print(10*5)
print(int(10/5))
print(10%5)
print(10/3)
print(10//3)
print(float(10**2))

15
5
50
2
0
3.3333333333333335
3
100.0

Bitwise Operators

In [28]:
a = 60 #0011 1100
b = 13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>1)

12
61
49
120
30

Application 2

In [71]:
#Python Assignment Operators

x = 5

x += 3
x -= 3
x *= 3
x /= 3
x %= 3

print(x)

2.0

Logical Operators

In [41]:
s = True
t= False
s and t
not(s and t)

True

Identity Operators

In [43]:
s is t

s is not t

True

#Control Structure

if Statement

In [ ]:
g = 100
h = 50

if g>h:
  print("g is greater than h")

Elif Statement

In [48]:
g = 100
h = 100

if g>h:
  print("g is greater than h")
elif g<h:
  print("g is less than h")

Else Statement

In [51]:
g = 100
h = 100

if g>h:
  print("g is greater than h")
elif g<h:
  print("g is less than h")
else:
  print("g is equal to h")

g is equal to h

Short Hand If Statement

In [52]:
if g==h: print('g is equal to h')

g is equal to h

Short Hand If...Else Statement

In [53]:
print("G") if g>h else print ("H")

H

Nested If...Else

In [58]:
x = 31

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
      else:
        print("but not above 40")
        if x>50:
          print("and also above 50")
        else:
            print("but not above 50")

x is above 10
and also above 20
and also above 30
but not above 40
but not above 50

Application 3

In [62]:
age = int(input())

if age>=18:
  print("You are qualifiied to vote")
else:
  print("You are not qualified to vote")

18
You are qualifiied to vote

#Loop Statement

For Loop

In [78]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
season = ['rainy','sunny']


for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [80]:
for x in week:
  if x == "Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [81]:
#If you want to display Sunday to Friday

for x in week:
  print(x)
  if x=="Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

Application 4

In [82]:
for x in week:
  if x == "Friday":
    print(x)
    break

Friday

While loop

In [85]:
i = 1

while i<6:
  print(i)
  i+=1 #same as i=i+1

1
2
3
4
5

Application 5

In [90]:
i = 1

while i<6:
  if i==2:
    print(i)
    break 
  i+=1 #same as i=i+1

2